//==================================================================================//
//                                                                                  //
//  Copyright (c) 2019 Hugo Kindel <kindelhugo@gmail.com>                           //
//                                                                                  //
//  This file is part of the Vanir project.                                         //
//  Licensed under MIT License:                                                     //
//                                                                                  //
//  Permission is hereby granted, free of charge, to any person obtaining           //
//  a copy of this software and associated documentation files (the "Software"),    //
//  to deal in the Software without restriction, including without limitation       //
//  the rights to use, copy, modify, merge, publish, distribute, sublicense,        //
//  and/or sell copies of the Software, and to permit persons to whom the           //
//  Software is furnished to do so, subject to the following conditions:            //
//                                                                                  //
//  The above copyright notice and this permission notice shall be included in      //
//  all copies or substantial portions of the Software.                             //
//                                                                                  //
//  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR      //
//  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,        //
//  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE     //
//  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER          //
//  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,   //
//  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE   //
//  SOFTWARE.                                                                       //
//                                                                                  //
//==================================================================================//

#ifdef _WIN32

#include "winresrc.h"

#define MAKE_STR(x) _MAKE_STR(x)
#define _MAKE_STR(x) #x

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

// Version.
VS_VERSION_INFO VERSIONINFO
 FILEVERSION VANIR_VERSION_MAJOR,VANIR_VERSION_MINOR,VANIR_VERSION_PATCH,0
 PRODUCTVERSION VANIR_VERSION_MAJOR,VANIR_VERSION_MINOR,VANIR_VERSION_PATCH,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "\0"
            VALUE "FileDescription", "Vanir\0"
            VALUE "FileVersion", MAKE_STR(VANIR_VERSION)
            VALUE "InternalName", "Vanir\0"
            VALUE "LegalCopyright", "Copyright (c) 2019 Hugo Kindel\0"
#if _MSC_VER && !__INTEL_COMPILER
            VALUE "OriginalFilename", "Vanir.dll\0"
#else
            VALUE "OriginalFilename", "libVanir.dll\0"
#endif
            VALUE "ProductName", "Vanir Utility Library\0"
            VALUE "ProductVersion",  MAKE_STR(VANIR_VERSION)
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

#endif